{% extends 'base.html' %}

{% block title %}
    <title>About Us - Taskmate</title>
{% endblock title %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">About Us</h5>
                    <p class="card-text">Taskmate is a simple todolist made in Django,made by the developer primarly for getting upto date with Django development, and relearn the skills</p>
                    <a href="https://github.com/joybh98" class="btn btn-primary" target="_blank">Check Out The Developer's Github</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}