{% extends 'base.html' %}

{% block title %}
    <title>Todolist Manager</title>
{% endblock title %}

{% block content %}
      <div class="container">
        </br>

        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>Task added successfully!</strong> Don't forget to complete it!
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}

        <form method="POST" class="row">
            {% csrf_token %}
            <label class="col-lg-4">Your tasks for today!</label>
              <input type="text" class="form-control col-lg-6" name="task" placeholder="New Task?">
            <button type="submit" class="btn btn-primary col-lg-2">Submit</button>
        </form>
        </br>
          <table class="table table-bordered">
            <thead class="thread-dark">
                <tr>
                    <th scope="col">Task</th>
                    <th scope="col">Status</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
                <tbody>
                    {% if all_tasks %}
                        {% for obj in all_tasks %}
                            {% if obj.done %}
                            <!-- show green(success) if task is done-->
                                <tr class="table-success">
                                    <td>{{obj.task}} | {{ obj.id }}</td>
                                    <td><a href="{% url 'pending_task' obj.id %}">Mark this pending</a></td>
                                    <td><a href="{% url 'edit_task' obj.id %}">Edit</a></td>
                                    <td><a href="{% url 'delete_task' obj.id %}">Delete</a></td>
                                </tr>
                            {% else %}
                            <!-- else show normal if task is not done-->
                                <tr class="table-default">
                                    <td>{{obj.task}} | {{ obj.id }}</td>
                                    <td><a href="{% url 'complete_task' obj.id %}">Mark this completed</a></td>
                                    <td><a href="{% url 'edit_task' obj.id %}">Edit</a></td>
                                    <td><a href="{% url 'delete_task' obj.id %}">Delete</a></td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
              <nav aria-label="Page navigation example">
                <ul class="pagination">
                  <li class="page-item">
                    {% if all_tasks.has_previous %}
                    <a class="page-link" href="?pg={{all_tasks.previous_page_number }}" aria-label="Previous">
                      <span aria-hidden="true">&laquo; {{ all_tasks.previous_page_number }}</span>
                    </a>
                    {% endif %}
                  </li>
                  <li class="page-item"><a class="page-link" href="?pg={{ all_tasks.number }}">{{ all_tasks.number}}</a></li>
                  <li class="page-item">
                    {% if all_tasks.has_next %}
                    <a class="page-link" href="?pg={{ all_tasks.next_page_number }}" aria-label="Next">
                      <span aria-hidden="true">{{ all_tasks.next_page_number }}</span>
                    </a>
                    {% endif %}
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="?pg={{ all_tasks.paginator.num_pages }}" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
                </ul>
              </nav>
    </div>
{% endblock content %}