{% extends 'base.html' %}

{% block title %}
    <title>Todolist Manager</title>
{% endblock title %}

{% block content %}
      <div class="container">
        </br>

        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>Task added successfully!</strong> Don't forget to complete it!
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}

        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
              <input type="text" class="form-control" name="task" placeholder="New Task?">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>

          <table class="table table-bordered">
            <thead class="thread-dark">
                <tr>
                    <th scope="col">Task</th>
                    <th scope="col">Done</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
                <tbody>
                    {% if all_tasks %}
                        {% for obj in all_tasks %}
                            {% if obj.done %}
                            <!-- show green(success) if task is done-->
                                <tr class="table-success">
                                    <td>{{obj.task}}</td>
                                    <td>Completed</td>
                                    <td>Edit</td>
                                    <td>Delete</td>
                                </tr>
                            {% else %}
                            <!-- else show normal if task is not done-->
                                <tr class="table-default">
                                    <td>{{obj.task}}</td>
                                    <td>Not completed</td>
                                    <td>Edit</td>
                                    <td>Delete</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
    </div>
{% endblock content %}